<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/test.css">
    <title>Selections</title>
</head>
<body>
  <h1 class="intro-heading" id="first-heading">Enter the images in sequence</h1>
    <form>
    <select name="language" class="custom-select" id="option-holder" multiple>
        
      </select>
      <button type="submit" id="submitBtn" href="https://graphic-password.netlify.app/views/dashboard.html">Submit</button>
    </form>
      <script src="/src/test.js"></script>
</body>
</html>